<h1>社員個人ページ</h1>

<p>名前：<%= @user.username %></p>
<p>Eメール：<%= @user.email %></p>
<p>所属部署：<%= @user.department %></p>

<% if current_user?(@user) %>
  <section>
  <p><%= link_to "社員情報更新", edit_user_path(@user.id) %></p>
  </section>
<% end %>