// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-fluid {
  padding-top: 50px;
  // 背景画像を暗くする
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05) ), url(herb.jpg);
  background-size: cover;
  // 背景画像の位置を決める
  background-position: 50% 50%;
  height: 600px;
  // width: 100%;
}

.container-fluid h1 {
  color: white!important;
}

.container-fluid p {
  color: white;
}

