  <%= search_form_for @q do |f| %>

    <div class="form-group">
      <%= f.label :title_cont, "畑の名前" %>
      <%= f.search_field :title_cont, class: "form-control", placeholder: "畑の名前を入力してください" %>
    </div>
    <br />
      <%= f.submit class: "btn btn-primary" %>
  <% end %>